.activity {
  padding-bottom: 94px;
}
.activity__container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.activity__title {
  font-weight: $font-weight-700;
  font-size: $title-font-size;
  line-height: $title-line-height;
  text-align: center;
  color: $title-color;
  margin-top: 0%;
  margin-bottom: 50px;
}
.activity__list {
  display: flex;
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.activity__list > li {
  width: 370px;
  height: 294px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.activity__text {
  margin: 0%;
  font-weight: 700;
  font-size: $activity-text-font-size;
  line-height: 1.14em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}
.activity__item {
  margin: 0%;
  display: flex;
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.activity__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  width: 370px;
  height: 70px;
  box-sizing: border-box;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0%;
}
