.header__contacts {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
  padding: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}
.contacts-element {
  font-weight: $header-font-weight;
  font-size: $header-font-size;
  line-height: $header-font-height;
  letter-spacing: $header-letter-spacing;
  color: currentColor;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover > .header__icon1 {
    color: $accent-color;
  }
  &:focus > .header__icon1 {
    color: $accent-color;
  }
}
.header__contacts > li:not(:last-child) {
  margin-right: 50px;
}
.header__contacts > li {
  display: flex;
  align-items: center;
  color: $primary-text-color;
}
.header__icon1 {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.header__icon2 {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
