.logo {
  font-family: $logo-font-family;
  font-weight: $font-weight-700;
  font-size: $logo-font-size;
  line-height: $logo-line-height;
  color: $logo-color;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo__element {
  color: $accent-color;
}
