$primary-white-color: #ffffff;
$title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-color: #2f303a;
$section-team-color: #f5f4fa;
$secondary-wwhite-color: #e5e5e5;
$logo-color: #000000;
$icon-color: #afb1b8;
$header-border-color: #ececec;
$header-font-height: 1.14em;
$header-font-size: 14px;
$header-font-weight: 500;
$header-letter-spacing: 0.02em;
$logo-font-family: Raleway, sans-serif;
$font-weight-700: 700;
$logo-line-height: 1.19em;
$logo-font-size: 26px;
$title-font-size: 36px;
$title-line-height: 1.16em;
$activity-text-font-size: 14px;
$activity-text-line-height: 1.14em;
$form__label-font-size: 12px;
$form__label-line-height: 1.16em;
$form__label-letter-spacing: 0.01em;
$form__title-font-size: 20px;
$form__title-line-height: 1.15em;
$form__letter-spacing: 0.01em;
$footer__address-line-height: 1.17em;
$line-height-contacts-element--footer: 1.71em;
$contacts-element--footer-color: rgba(255, 255, 255, 0.6);
$footer__social-element-background-color: rgba(255, 255, 255, 0.1);
$footer__blank-font-size: 16px;
$footer__blank-line-height: 1.25em;
$footer__blank-color: rgba(255, 255, 255, 0.6);
$footer__button-line-height: 1.9em;
$footer__button-letter-spacing: 0.06em;
$hero-font-weight: 900;
$hero-font-size: 44px;
$hero-line-height: 1.36em;
$hero__button-line-height: 1.88em;
$portfolio__button-line-height: 1.62em;
$portfolio__title-font-size: 18px;
$portfolio__title-line-height: 2em;
$portfolio_overlay-line-height: 1.56em;
