$primary-white-color: #ffffff;
$title-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-color: #2f303a;
$section-team-color: #f5f4fa;
$secondary-wwhite-color: #e5e5e5;
$logo-color: #000000;
$icon-color: #afb1b8;
$header-border-color: #ececec;
